<body class="container">
  <div class="page-header"></div>
  <div class="row">
    <div class="jumbotron">
      <%= image_tag(@photo.image.url(), class: "img-responsive center-block") if @photo.image?%>
      <p class="text-center">
        <br/>
        <%= link_to 'Delete', photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-lg" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <h2>Comments</h2>
      <% @photo.comments.each do |comment| %>
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title"><%= comment.commenter %></h3>
          <% if current_user.name == comment.commenter %>
          <p><%= link_to 'Delete Comment',[comment.photo, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm pull-right" %> </p>
          <% end %>
        </div>
        <div class="panel-body"><h3 class="panel-title"> <%= comment.body %> </h3></div>
      </div>

      <% end %>
    </div>
    
    <div class="col-lg">
      <h2>Add a comment:</h2>
      <%= form_for([@photo, @photo.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label :commenter %>
        <%= f.text_field :commenter, autofocus: true, class: 'form-control', :value => current_user.name, readonly: true %>
      </div>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Create Comment', class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>

  </div>
</body>